.custom-alert {
    position: fixed;
    top: 50px;
    left: 77%;
    transform: translateX(-50%);
    background-color: #e6f9f0;
    color: #20704f;
    padding: 12px 20px;
    border-radius: 8px;
    border-left: 5px solid #1abc9c;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-size: 16px;
    z-index: 9999;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
}

.custom-close {
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 18px;
    color: #888;
    cursor: pointer;
}

.custom-close:hover {
    color: #000;
}


.is-invalid {
    border-color: red;
}
.invalid-feedback {
    color: red;
    font-size: 13px;
}
